body{
    text-align: center;
    padding-bottom: 50px;
    background: url("1.png");
}

.jumbotron{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
#guestinfo .input-group{
    padding-bottom: 20px;
}
.navbar-fixed-bottom{
    text-align: center;
}
.navbar-fixed-bottom a{
    padding-right: 50px;
    text-decoration: none;
    color: gold;
}
